@page "{id:int}"
@model GTR.Pages.Posts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>@GTR.Resources.Resources.Resources.Delete</h2>
<h3>@GTR.Resources.Resources.Resources.DeleteSure</h3>
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4>@GTR.Resources.Resources.Resources.Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@GTR.Resources.Resources.Resources.Post_Title</dt>
        <dd>@Html.DisplayFor(model => model.Post.Title)</dd>
        <dt>@GTR.Resources.Resources.Resources.PostContent</dt>
        <dd>@Html.DisplayFor(model => model.Post.Content)</dd>
        <dt>@GTR.Resources.Resources.Resources.BlogUrl</dt>
        <dd>@Html.DisplayFor(model => model.Post.Blog.Url)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post.PostId" />
        <input type="hidden" asp-for="Post.BlogId" />
        <input type="submit" value="@GTR.Resources.Resources.Resources.Delete" class="btn btn-default" /> |
       <a asp-page="/Blogs/Index" asp-route-id="@Model.Post.BlogId">@GTR.Resources.Resources.Resources.BackToBlogList</a>
    </form>
</div>